body {
  background: #111;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #444;
}

input {
  width: 250px;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  background: #fdd835;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}

button:hover {
  background: #ffeb3b;
}

.qrContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#qrcode {
  margin-top: 20px;
}

a 
    {
margin-top : 10px;
  margin-left: 10px;
  padding: 5px 10px;
  background: #85fd35;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
  text-decoration: none;
}
